.menu-item{
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    text-align: left;
}
.menu{
    border-right: 2px solid #616060;
    height: 100%;
    color: gray;
    background-color: #262525;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.menu div:hover{
    color: white;
    cursor: pointer;
}
.menu .active{
    color: white;
    border-left: 4px solid #ff5722;
}

.nav-custom{
    background-color: #262525;
    FONT-WEIGHT: BOLD;
}

.body-custom{
    background-color: #383838;
    color: white;
    overflow: hidden;
}

.input-value{
    color: white;
}

.div-body{
    margin-top:20px;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ff5722;
    -webkit-box-shadow: 0 1px 0 0 #ff5722;
    box-shadow: 0 1px 0 0 #ff5722;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #ff5722;
}

.btn-nav-menu{
    position: fixed;
    bottom: 20px;
    width: 20%;
    left: 25PX;
    background-color: #bf411a;
}

.btn-nav-menu:hover, .btn-nav-menu:active, .btn-nav-menu:focus{
    background-color: #ff5722;
}

.toast-custom-success{
    top: 35px;
    background-color: #26a69a;
    font-weight: bold;
    color:white;
    width: 1000px;
    height: 75px;
    place-content: center;
}

.toast-custom-error{
    top: 35px;
    background-color: #ee6e73;
    font-weight: bold;
    color:white;
    width: 1000px;
    height: 75px;
    place-content: center;
}

.div-copiar{
    margin-top:20px;
}

.div-loader{
    text-align: center;
    height: 650px;
    margin-top: 220px;

}

.div-copy-info{
    height: 387px;
    overflow: overlay;
    color:black;
}

.blockquote-custom {
    margin: 5px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #ff5722;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #ff5722;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #ff5722;
}

.btn-custom{
    background-color: #bf411a;
    margin-right: 15px;
}

.btn-custom:hover, .btn-custom:active, .btn-custom:focus{
    background-color: #ff5722;
}


.btn-custom-cancel{
    background-color: #8c807c;
    margin-right: 15px;
}

.btn-custom-cancel:hover, .btn-custom-cancel:active, .btn-custom-cancel:focus{
    background-color: #a9a8a8;
}

.gray-text-bold{
    color:#9e9e9e;
    font-weight: bold;
}

.citem-custom{
    color: black;
}

.pag-custom{
    text-align: right;
    position: fixed;
    bottom: 5px;
}

.pagination li.active {
    background-color:#ff5722;
}

.pagination li a {
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}