.div-main-html{
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.menu-item{
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    text-align: left;
}
.menu{
    border-right: 2px solid #616060;
    height: 100%;
    color: gray;
    background-color: #101326;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.menu div:hover{
    color: white;
    cursor: pointer;
}
.menu .active{
    color: white;
    border-left: 4px solid #69F3A8;
}
nav .brand-logo.center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #69F3A8;
}

nav .brand-logo {
    margin-left: 10px;
}
.nav-custom{
    background-color: #101326;
    pointer-events: none;
    cursor: unset;
}

.body-custom{
    background-color: #272A44;
    color: white;
    overflow: hidden;
    font-family: 'Roboto';
}

.input-value{
    color: white;
}

.menu-logo{
    margin-top: 10px;
    background-image: url('../images/meutrader.png');
    background-size: cover;
    height: 100px;
    pointer-events: none;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #69F3A8;
    -webkit-box-shadow: 0 1px 0 0 #69F3A8;
    box-shadow: 0 1px 0 0 #69F3A8;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #69F3A8;
}

.btn{
    font-family: 'Roboto';
}

.btn-nav-menu{
    position: fixed;
    bottom: 20px;
    width: 20%;
    left: 25PX;
    background-color: #69F3A8;
    color: #101326;
}

.btn-nav-menu:hover, .btn-nav-menu:active, .btn-nav-menu:focus{
    background-color: #caf2dd;
    color: #101326;
}

.toast-custom-success{
    top: 35px;
    background-color: #26a69a;
    font-weight: bold;
    color:white;
    width: 1000px;
    height: 75px;
    place-content: center;
}

.toast-custom-error{
    top: 35px;
    background-color: #ee6e73;
    font-weight: bold;
    color:white;
    width: 1000px;
    height: 75px;
    place-content: center;
}

.toast-custom-warning{
    top: 35px;
    background-color: #fff3cd;
    font-weight: bold;
    color:#101326;
    width: 1000px;
    height: 75px;
    place-content: center;
}

.div-content{
    margin-top:20px;
}

.div-loader{
    text-align: center;
    height: 650px;
    margin-top: 220px;

}

.div-copy-info{
    bottom: 1;
    height: 73.5%;
    overflow: overlay;
    color:black;
}

.blockquote-custom {
    margin: 5px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #69F3A8;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #69F3A8;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #69F3A8;
}

.btn-custom{
    background-color: #69F3A8;
    margin-right: 15px;
    color: #101326;
}

.btn-custom:hover, .btn-custom:active, .btn-custom:focus{
    background-color: #caf2dd;
    color: #101326;
}


.btn-custom-cancel{
    background-color: #8c807c;
    margin-right: 15px;
}

.btn-custom-cancel:hover, .btn-custom-cancel:active, .btn-custom-cancel:focus{
    background-color: #a9a8a8;
}

.gray-text-bold{
    color:#9e9e9e;
    font-weight: bold;
}

.citem-custom{
    color: black;
}

.pag-custom{
    text-align: right;
    position: fixed;
    bottom: 5px;
}

.pagination li.active {
    background-color:#69F3A8;
    color: #101326;
}

.pagination li.active a {
    color: #101326;
}

.pagination li a {
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}

.blockquote-custom-header {
    margin: 5px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #69F3A8;
    font-weight: bold;
    margin-bottom:0px;
}
/*UTILIZADO APENAS PARA O LOG DAS OPERAÇÕES*/
.blockquote-custom-body {
    margin: 5px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #dcdcdc;
    border-bottom: inset;
    margin-top:0px;
}

.blockquote-header {
    margin: 5px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #101326;
    margin-top:0px;
    color: #101326
}

.blockquote-body {
    margin-left: 22px;
    margin-bottom: 20px;
}

.slide_in{
    animation: slide .5s;
}

@keyframes slide {
    0% {margin-top:600px;}
    10% {margin-top:500px;}
    20% {margin-top:400px;}
    30% {margin-top:300px;}
    40% {margin-top:200px;}
    50% {margin-top:100px;} 
    60% {margin-top:50px;} 
    70% {margin-top:10px;}     
}

.tr-header-custom{
    color: #69F3A8
}

.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 36px;
    height: 14px;
    background-color: rgba(0,0,0,0.38);
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 5px 0px 4px;
}

.label-custom{
    font-size: 1rem;
}

[type="radio"]:not(:checked)+span, [type="radio"]:checked+span {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #69F3A8;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #46d387;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #69F3A8;
    background-color: #69F3A8;
    z-index: 0;
}

.menu-item-icon{
    width: 20%;
}

.input-card{
    color: #101326;
}
.header-search-trader{
    padding: 10px; 
    height: 85px; 
    margin-bottom: 5px;
}
.body-search-trader{
    padding-top: 0px;
    margin-top:0px;
    height: 31.5%;
    overflow: overlay;
}

.body-search-trader .tr-header-custom{
    color: #101326;
}

.body-search-trader table.striped>tbody>tr:nth-child(odd) {
    color: #9e9e9e;
    background-color: rgba(223,221,221,0.5);
} 
.body-search-trader table.striped>tbody>tr>td {
    color: #9e9e9e;
    border-radius: 0;
}

.progress .determinate {
    background-color: #69F3A8;
}

.progress{
    background-color: #8f9090;
}

.select-dropdown li img {
    height: 30px;
    width: 30px;
    margin: 5px 5px;
    float: right;
    border-radius: 50%;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #26a69a;
    display: block;
    line-height: 12px;
    padding: 14px 10px;
}

.access{
    height: 100%;
    width: 100%;
}

.access-logo{
    margin-top: 10px;
    background-image: url('../images/meutrader.png');
    /* background-size: cover; */
    background-repeat: no-repeat, repeat;
    height: 100%;
    pointer-events: none;
    width: 650;
    height: 300px;
    background-position-x: center;
}

.access-key{
    margin-top: 15px;
}

.slide_logo{
    animation: logo_slide .7s;
}

@keyframes logo_slide {
    95% {background-size: cover; height: 450; width: 600; margin-top: 10px;}
    90% {background-size: cover; height: 250; width: 400; margin-top: 10px;}
    80% {background-size: cover; height: 100; width: 200; margin-top: 10px;}
}

.finder-add-icon{
    font-size: 40px;
    cursor: pointer;
    color: #69F3A8;
}

.finder-block-icon{
    font-size: 40px;
    cursor: pointer;
    color: #101326;
}

.iq-login-logo{
    margin-top: 10px;
    background-image: url('../images/iq-option-logo.png');
    background-size: contain;
    background-repeat: no-repeat, repeat;
    height: 100%;
    pointer-events: none;
    width: 650;
    height: 200px;
    background-position-x: center;
}

.idBtnAddFinder{
    color: green;
    width: 20px;
    cursor: pointer;
    text-decoration: underline;
}

.idBtnBlockFinder{
    color: red;
    width: 20px;
    cursor: pointer;
    text-decoration: underline;
}

.th-top-saldo{
    cursor: pointer;
}
.th-top-saldo:hover{
    color:white;
}